h1 {
  font-size: 4em;
  font-family:sans-serif;
  font-weight: bold;
  color: rgb(100,100,210);
  text-align:center;
}

#container {
  max-width:80%;
  margin:0 auto;
}

.bodytext {
  font-size:1em;
}



